<app-large-title title="Settings test" (ionChange)="onChange($event)"></app-large-title>

<ion-content>
    <ion-list>
        <ng-container *ngFor="let item of showingItems">
            <ion-list-header color="light" *ngIf="item.type === 'header'">
                {{item.name}}
            </ion-list-header>
            <ion-item *ngIf="item.type === 'toggle'">
                <ion-label item-left>{{item.name}}</ion-label>
                <ion-toggle item-right color="primary" [(ngModel)]="item.value" (ionChange)="item.callback(item)"></ion-toggle>
            </ion-item>
            <ion-item *ngIf="item.type === 'router'" [routerLink]="[item.route]" routerDirection="forward">
                <ion-label item-left>{{item.name}}</ion-label>
                <ion-label item-right text-right color="medium" *ngIf="item.value">{{item.value}}</ion-label>
            </ion-item>
            <ion-item *ngIf="item.type === 'href'" [href]="item.href">
                <ion-label item-left>{{item.name}}</ion-label>
                <ion-label item-right text-right color="medium" *ngIf="item.value">{{item.value}}</ion-label>
            </ion-item>
            <ion-item *ngIf="item.type === 'text'" (click)="item.callback && item.callback(item)">
                <ion-label item-left>{{item.name}}</ion-label>
                <ion-label item-right text-right color="medium" *ngIf="item.value">{{item.value}}</ion-label>
            </ion-item>
        </ng-container>
    </ion-list>
</ion-content>
