<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/home/settings']" routerDirection="backward">
        <ion-icon name="arrow-back"></ion-icon>
        Settings
      </ion-button>
    </ion-buttons>
    <ion-title>
      Language
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      
    <ion-list-header color="light">
      <ion-label>About the app</ion-label>
    </ion-list-header>
    <ion-item href="/" detail>
      <ion-label>Privacy Policy</ion-label>
    </ion-item>
  
    <ion-list-header color="light">
      <ion-label>About the developer</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label item-left>Name</ion-label>
      <ion-label item-right text-right color="primary">Jochum van der Ploeg</ion-label>
    </ion-item>
    <ion-item>
      <ion-label item-left>Website</ion-label>
      <ion-label item-right text-right color="primary">jochum@vdploeg.net</ion-label>
    </ion-item>
    <ion-item href="/" detail>
      <ion-label text-center><b>Buy that man a coffee</b></ion-label>
    </ion-item>
    
  </ion-list>
</ion-content>
