<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="filters">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Filters</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="feed">
      <ion-icon name="pulse"></ion-icon>
      <ion-label>Feed</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>