<ion-header>
    <ion-toolbar>
        <ion-title>
            Feed
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-sliding *ngFor="let item of items">
            <ion-item>
                <ion-label>
                    <h2>{{item.title}}</h2>
                    <h3 [innerHTML]="item.summary"></h3>
                    <p>{{item.date | date: 'medium'}}</p>
                </ion-label>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option color="success" (click)="share(item)">
                    <ion-label>Share</ion-label>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

    <ion-refresher slot="fixed" (ionRefresh)="loadData($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
</ion-content>
