<ion-header class="large-title-header" [ngClass]="platform">
    <ion-toolbar>
        <ion-title class="small-title" #smallTitle>
            {{ title }}
        </ion-title>
    </ion-toolbar>
    <ion-toolbar class="large-title" #largeTitle>
        <ion-title text-left>
            {{ title }}
        </ion-title>
    </ion-toolbar>
    <ion-searchbar class="large-searchbar"
                   (ionFocus)="onFocus($event)"
                   (ionBlur)="onBlur($event)"
                   (ionChange)="onChange($event)">
    </ion-searchbar>
</ion-header>