.large-title-header {
  .large-title {
    display: none;
  }
  .large-searchbar {
    display: none;
  }
  &.ios {
    .small-title {
      display: none;
    }
    .large-title {
      display: block;
      margin-bottom: -6px;
      ion-title {
        font-size: 2em;
        padding: 0 12px;
      }
    }
    .large-searchbar {
      display: flex;
    }
  }
  border-bottom: 1px solid var(--ion-border-color);
}
