<app-large-title title="Filters"></app-large-title>

<ion-content force-overscroll="true" scroll-events="true" (ionScroll)="onScroll($event)">
  <ion-list>
    <ion-list-header color="light" *ngIf="customFilters.length">
      <ion-label>Custom filters</ion-label>
    </ion-list-header>
    <ion-item-sliding *ngFor="let filter of customFilters">
      <ion-item [routerLink]="['/home/feed']">
        <ion-icon slot="start" color="medium" name="cube" class="block"></ion-icon>
        <ion-label>{{ filter.name }}</ion-label>
      </ion-item>  
      <ion-item-options side="end">
        <ion-item-option (click)="unread(item)">
          <ion-label>Edit</ion-label>
        </ion-item-option>
        <ion-item-option (click)="unread(item)" color="danger">
          <ion-label>Delete</ion-label>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    
    <ion-list-header color="light">
      <ion-label>Disciplines</ion-label>
    </ion-list-header>
    <ion-item href="/">
      <ion-icon slot="start" color="danger" name="flame" class="block"></ion-icon>
      <ion-label>Brandweer</ion-label>
    </ion-item>
    <ion-item href="/">
      <ion-icon slot="start" color="medium" name="medical" class="block"></ion-icon>
      <ion-label>Ambulance</ion-label>
    </ion-item>
    <ion-item href="/">
      <ion-icon slot="start" color="medium" name="book" class="block"></ion-icon>
      <ion-label>Politie</ion-label>
    </ion-item>
    <ion-item href="/">
      <ion-icon slot="start" color="medium" name="book" class="block"></ion-icon>
      <ion-label>KRNM</ion-label>
    </ion-item>

  </ion-list>
</ion-content>